<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://test-zeuxcryptoexchangerate.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/56410628-5fc5-4ebd-8d30-09c6d45e30a7/resourceGroups/test-zeuxcryptoexchangerate/providers/Microsoft.Web/sites/test-zeuxcryptoexchangerate</ResourceId>
    <UserName>$test-zeuxcryptoexchangerate</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://test-zeuxcryptoexchangerate.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>